<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
  </system.web>

  <system.webServer>
    <handlers>
      <clear />
      <add name="XoapWeatherShimHandler"
           path="*"
           verb="GET,HEAD"
           type="WeatherShimHandler"
           resourceType="Unspecified"
           preCondition="integratedMode" />
    </handlers>
    <defaultDocument enabled="false" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
